@import url(https://fonts.googleapis.com/css?family=Inconsolata:300,400,700|PT++Mono);


:root {
    --primary-color: aquamarine;
    --secondary-color: dimgrey;
    --tertiary-color: gainsboro;

}

body {
background-color: var(--primary-color);
font-size: 15px;
font-family: Inconsolata, sans-serif;

}

#container {
    height: 525px;
    width: 360px;
    margin: 100px auto;
    background: rgb(241, 239, 239);
    box-shadow: 5px 5px 5px rgb(175, 174, 174);
    border-radius: 20px;

}

.title {
    background: var(--tertiary-color);
    color: var(--secondary-color);
    padding: 20px;
    font-size: 23px;
    text-align: center;
    text-transform: uppercase;

}

.tipsForm {
    padding-left: 20px;
    padding-right: 20px;
}

.FormInput {
    background: white;
    padding: 5px 4px 8px 9px;

}

.FormSubmit {
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px auto;
    background: var(--primary-color);
    display: block;
    width: 100px;
    height: 30px;
    font-size: 17px;
    color: var(--secondary-color);


}
